{% extends "layout.html" %}
{% block body %}
<!-- 分页样式 -->
<link href="/static/css/zxf_page.css" rel="stylesheet">
<link rel="stylesheet" href="/static/house/css/list.css">

<!-- Page Header -->
<header class="masthead" style="background-image: url('/static/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>二手好房</h1>
                    <!-- *** 修改开始: 使用后端传递的 search_value 显示搜索关键词 *** -->
                    <span class="subheading">搜索结果: {{ search_value or '全部房源' }}</span>
                    <!-- *** 修改结束 *** -->
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <!--当前城市-->
    <div class="row info-line">
        <div class="collection col-lg-12 col-md-12">
            <div id="fill-data" class="">
                {% for house in houses %}
                <div class="row collection-line">
                    <div class="col-lg-5 col-md-5 mx-auto">
                        <div><a href="{{ url_for('detail_page.house_detail', house_id=house.id) }}"><img class='img-fluid img-box'
                                    src="/static/img/house-bg1.jpg" alt=""></a></div>
                    </div>
                    <div class="col-lg-5 col-md-5 mx-auto">
                        <div class="collection-line-info">
                            <div class="title">
                                <span><a href="{{ url_for('detail_page.house_detail', house_id=house.id) }}">{{ house.title }}</a></span>
                            </div>
                            <div>
                                <span class="attribute-text">房源地址：</span>&nbsp;
                                <span class="info-text">{{ house.address }}</span>
                            </div>
                            <div>
                                <span class="attribute-text">建筑面积：</span>&nbsp;
                                <span class="info-text">{{ house.area }}平方米</span>
                            </div>
                            <div>
                                <span class="attribute-text">房源户型：</span>&nbsp;
                                <span class="info-text">{{ house.rooms }}</span>
                            </div>
                            <div>
                                <span class="attribute-text">房源朝向：</span>&nbsp;
                                <span class="info-text">{{ house.direction }}</span>
                            </div>
                            <div>
                                <span class="attribute-text">交通条件：</span>&nbsp;
                                <span class="info-text">{{ house.traffic or '暂无' }}</span>
                            </div>
                            <div>
                                <span class="attribute-text"><i class="fa fa-eye" aria-hidden="true"
                                        style="color: #e74c3c"></i> {{ house.page_views or 0 }}人浏览过</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 mx-auto">
                        <div class="info-more">
                            <span class="info-text" style="color: #e74c3c">￥&nbsp;{{ house.price }}</span>
                            <span><a href="{{ url_for('detail_page.house_detail', house_id=house.id) }}"><i class="fa fa-arrow-right"
                                        aria-hidden="true"></i></a></span>
                        </div>
                    </div>
                </div>
                {% else %}
                <p class="text-center">没有找到符合条件的房源。</p>
                {% endfor %}
            </div>

            <!-- 分页组件 -->
            <div class="row my-page-line">
                <div class="col-lg-12 col-md-12 mx-auto">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <!-- *** 修改开始: 确保分页链接能正确携带 addr 或 rooms 参数 *** -->
                            <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
                                <a class="page-link" href="{{ url_for('list_page.house_list', page=pagination.prev_num, **{search_type: search_value}) }}">«</a>
                            </li>
                            {% for p in pagination.iter_pages() %}
                                {% if p %}
                                    <li class="page-item {% if p == pagination.page %}active{% endif %}">
                                        <a class="page-link" href="{{ url_for('list_page.house_list', page=p, **{search_type: search_value}) }}">{{ p }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled"><span class="page-link">…</span></li>
                                {% endif %}
                            {% endfor %}
                            <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
                                <a class="page-link" href="{{ url_for('list_page.house_list', page=pagination.next_num, **{search_type: search_value}) }}">»</a>
                            </li>
                            <!-- *** 修改结束 *** -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock %}
